.logo {
  img {
    width: 65px;
    display: block;
    margin: 40px auto 15px;
  }
}

.tags {
  width: 8%;
  left: 0;
  background: #263238;
  color: #fff;
  top: 0;
  bottom: 0;
  position: fixed;
}