ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 135px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    li {
        margin: 0;
    }
}