.main {
    width: 72%;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
}

.frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.doc-meta {
    background: #fff;
    display: flex;
    height: 80px;
    align-items: flex-end;
}

.title {
    font-family: "Slabo 27px", Georgia, Times, "Times New Roman", serif;
    font-size: 1.3rem;
    padding: 0 0 0 35px;
}

.title,
.tags {
    border: 0;
    height: 50px;
    border-radius: 0;
    width: 50%;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.tags-input {
    line-height: 42px;
    font-size: 13px;
}