@import "./shared/styles/notar.scss";

.container {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.main {
  width: 72%;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}

