.profile-bar {
  height: 60px;
  border-bottom: solid 1px #e2e2e2;
  background: rgba(255, 255, 255, 0.77);
}

.create {
  margin-top: 14px;
  margin-left: 20px;
  float: left;
}

.create-new {
  /* Rectangle 16: */
  background: #4285F4;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.12), 0px 1px 1px 0px rgba(0,0,0,0.24);
  border-radius: 2px;
  padding: 5px 12px;
  font-size: 0.8rem;
  i {
    margin-right: 5px;
  }
}

.profile {
  float: right;
  margin-top: 14px;
  margin-right: 20px;
  img {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }
}