.page-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #3E82F7;
}

.container-login {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.splash-logo {
  width: 85px;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 50px;
  img {
    width: 85px;
  }
}

.signin-button {
  background: #FFFFFF;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  letter-spacing: 0.21px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.12), 0px 1px 1px 0px rgba(0,0,0,0.24);
  border-radius: 2px;
  padding: 11px 11px;
  img {
    margin-right: 17px;
    vertical-align: text-bottom;
  }
}

