<div class="page-login">
    <div class="container-login">
        <div class="splash-logo a10x fadeInUp mdt-standard">
            <img src="/assets/logo.svg" alt="Hippo logo">
        </div>
        <button *ngIf="!isSignedIn" (click)="login()" class="signin-button d10x a05x fadeIn mdt-standard">
            <img src="/assets/google.svg" alt="Google Logo">
            Sign in with Google
        </button>
        <span *ngIf="isSignedIn">Signed in</span>

        <!--<button (click)="logout()">Logout</button>-->
    </div>
</div>